exportPattern("^[[:alpha:]]+")
import(data.table)
import(hyperSpec)
import(scales)
import(tools)
import(stringr)
import(gridExtra)
import(ggplot2)
import(reshape2)
import(foreach)
import(doParallel)
import(parallel)
